
<launch>
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find four_wheel_car_gazebo)/worlds/four_wheel_car.world" />
        <!-- more default parameters can be changed here -->
    </include>
    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find four_wheel_car_description)/urdf/four_wheel_car.urdf -urdf -z 1 -model four_wheel_car" />


</launch>